---
title: "Sorry :( &middot; 404: Page Not Found"
---

.container-inner
  %h1 404
  %p Oh, uh... Sorry about this, we can't find whatever it is you're looking for. We may have deleted it or moved it, or maybe you were typing random things into the URL bar. Whatever the case, #{link_to 'go home', 'index.html'} and try again
  = image_tag 'https://media.giphy.com/media/102Bzz2hey96aA/giphy.gif', width: '100%'
