#map
:javascript
  mapboxgl.accessToken = 'pk.eyJ1IjoiY2FydGVyZGVhIiwiYSI6IjhPS0FRaXcifQ.ww0vsEmblI_6aYxEQO_acA';
  var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/carterdea/cik7a9xbk00cxnykosa8arxb1', //stylesheet location
      center: [-118.498693, 34.017084], // starting position
      zoom: 12, // starting zoom
      interactive: false
  });
