---
title: Contact Sorry :(
---

%h1 Contact Sorry
%h2 We are currently available for select projects
%p
  We’d love hear from you. Reach out and let us know what you’re doing or just say hello
  = image_tag 'wave.png', width: '14px', class: 'wave'
.clearfix
  %form{'accept-charset' => 'UTF-8', action: 'https://formkeep.com/f/1289012036b3', method: 'POST'}
    .form-item
      %input{name: 'name', placeholder: 'Your name', required: true}
    .form-item
      %input{name: 'name', type: 'email', placeholder: 'Your email', required: true}
    .form-item
      %select{name: 'budget', required: true}
        %option{ selected: true, disabled: true } Your budget
        %option $25,000 - $50,000
        %option $50,000 - $100,000
        %option $100,001+
    .form-item
      %textarea{name: 'message', placeholder: 'Tell us about what you\'re working on', required: true}
    %input{type: 'hidden', name: 'utf8', value: '✓', class: 'button'}
    .form-item
      %button{type: 'submit'} Send
    %p We'll get back to you within 48 hours.
  %ul.no-style
    %li New Business: #{link_to 'makesomething@sorry.is', 'mailto:makesomething@sorry.is'}
    %li Opportunities: #{link_to 'work@sorry.is', 'mailto:work@sorry.is'}
    %li General Inquiries: #{link_to 'hello@sorry.is', 'mailto:hello@sorry.is'}
%h3 based in Los Angeles, CA
%script{src: 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.js'}
:javascript
  var url = window.location.href;
  var captured = /thanks=([^&]+)/.exec(url)[1];
  var result = captured ? captured : 'myDefaultValue';
